.filter-form-container {
  gap: $spacing-medium;

  .filter-group {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: $spacing-small;
    font-weight: bold;
  }

  .form-buttons {
    button {
      font-size: 16px;

      &:active {
        border-color: $color-gold;
      }
    }
  }

  [id$='-filter'] {
    padding: $spacing-small;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $color-christmas-red;
      box-shadow: 0 0 5px $color-shadow;
      transition:
        border-color $transition-speed ease,
        box-shadow $transition-speed ease;
    }
  }

  .select-wrapper {
    position: relative;

    &::after {
      content: '\F112';
      font-family: 'bootstrap-icons';
      position: absolute;
      right: $spacing-small;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 16px;
    }

    select {
      appearance: none;
      width: 100%;
    }
  }

  option:focus {
    background-color: $color-light-gray;
  }

  @include desktop {
    display: flex;
    align-items: flex-end;

    .filter-group {
      flex-grow: 1;
    }

    .form-buttons {
      display: flex;
      gap: $spacing-medium;
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: $spacing-medium;

    .form-buttons {
      display: contents;
      button {
        &:first-child {
          grid-column: 1;
          grid-row: 2;
        }

        &:last-child {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
  }

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: $spacing-medium;

    .form-buttons {
      display: contents;
      button {
        &:first-child {
          grid-column: 1;
          grid-row: 3;
        }

        &:last-child {
          grid-column: 1;
          grid-row: 4;
        }
      }
    }
  }
}
