body {
  gap: $spacing-medium;
  min-height: 100vh;
  padding: $spacing-medium;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'aside main main'
      'footer footer footer';
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'nav nav'
      'main main'
      'aside aside'
      'footer footer';
  }
}

header {
  grid-area: header;
  background-color: $color-christmas-green;
  color: $color-snow-white;
  padding: $spacing-large;
  text-align: center;
  border-radius: $border-radius;
}

nav {
  grid-area: nav;
  background-color: $color-snow-white;
  padding: $spacing-large;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
  background-color: $color-snow-white;
  padding: $spacing-large;
  border-radius: $border-radius;

  .results-section {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;

    p,
    span {
      font-weight: bold;
    }
  }

  [role='list'] {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
  }
}

aside {
  grid-area: aside;
  background-color: $color-snow-white;
  padding: $spacing-large;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  height: fit-content;
}

footer {
  grid-area: footer;
  background-color: $color-christmas-green;
  color: $color-snow-white;
  text-align: center;
  padding: $spacing-medium;
  border-radius: $border-radius;
}
