// Base styles import
@use 'base';

// Layout styles import
@use 'layout';

// Components styles import
@use 'components/filter-form.scss';
@use 'components/statistics.scss';
@use 'components/pagination.scss';
@use 'components/employee-card.scss';
@use 'components/modal.scss';

// Utilities styles import
@use 'utilities';
