// Variables styles import
@import 'variables';

// Base styles import
@import 'base';

// Layout styles import
@import 'layout';

// Components styles import
@import 'components/filter-form.scss';
@import 'components/statistics.scss';
@import 'components/pagination.scss';

// Utilities styles import
@import 'utilities';
