.hidden {
  display: none;
}

.text-color-red {
  color: $color-christmas-red;
}

.text-color-green {
  color: $color-christmas-green;
}

.btn-primary {
  background-color: $color-christmas-red;

  &:hover {
    background-color: $color-christmas-red-darker;
  }
}

.btn-secondary {
  background-color: $color-dark-gray;

  &:hover {
    background-color: $color-dark-gray-darker;
  }
}
